@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;800&display=swap");
:root {
  --color-orange: #f59739;
  --color-golden: #ffb11e;
  --color-light-yellow: #ffeac2;
  --color-dark: #121212;
  --color-white: #ffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
  max-width: 1800px;
  margin: 0 auto;
  overflow-x: hidden;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
.sub-title {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 15px;
}
.description {
  font-size: 1.7rem;
  line-height: 1.4;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-col {
  flex-direction: column;
}

.anchor-section {
  position: relative;
  top: -120px;
}

@media (max-width: 1200px) {
  .title,
  .sub-title {
    font-size: 2.2rem;
  }

  .description {
    font-size: 1.5rem;
  }
}
@media (max-width: 900px) {
  .title,
  .sub-title {
    font-size: 2rem;
  }

  .description {
    font-size: 1.4rem;
  }
}
@media (max-width: 550px) {
  .title,
  .sub-title {
    font-size: 1.7rem;
    margin-bottom: 10px;
    white-space: nowrap;
  }
  [dir="ltr"] .title,
  [dir="ltr"] .sub-title {
    white-space: wrap;
  }

  .description {
    font-size: 1.2rem;
  }
}
@media (max-width: 355px) {
  .title,
  .sub-title {
    font-size: 1.4rem;
  }
}

/* ------------------animation---------- */
.add-animation {
  position: relative;
  opacity: 0;
}

.fade-in,
.come-up {
  animation-timing-function: ease-out;
  animation-duration: 500ms;
  animation-delay: 200ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.fade-in {
  animation-name: fade_in;
}
.come-up {
  animation-name: come_up;
}

@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes come_up {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
