@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;800&display=swap");
:root {
  --color-orange: #f58b1e;
  --color-golden: #ffb11e;
  --color-light-yellow: #ffeac2;
  --color-dark: #121212;
  --color-white: #ffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  /* min-height: 100vh; */
  font-family: "Cairo", sans-serif;
  direction: rtl;
  max-width: 1600px;
  margin: 0 auto;
}

button {
  background: none;
  border: none;
}

.sub-title {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.4;
}
.description {
  font-size: 1.8rem;
  line-height: 1.4;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-col {
  flex-direction: column;
}

@media (max-width: 1160px) {
  .title,
  .sub-title {
    font-size: 2.2rem;
  }

  .description {
    font-size: 1.5rem;
  }
}
@media (max-width: 900px) {
  .title,
  .sub-title {
    font-size: 2rem;
  }

  .description {
    font-size: 1.4rem;
  }
}
